/*colors i like
teal: #26b89a;
light teal: #aef0d3;
peach: #f1ddbb;
coral: #ec6766;
bright orange: #e74c3c;
*/


body {
	background-color: white;
	margin: 0;
}
#nav{
	display: block;
	left: 0;
	width: 100%;
	height: 80px;
	top: 0%;
	background-color: #26b89a;
	position: fixed;
	float: left;
	font-family: 'Roboto' !important; 
	color: #f1ddbb;
	font-weight: 300;
	font-size: 26px;
	z-index: 99;
}

#nav li {
	display: inline;
	padding: 10px;
}

#nav a {
	color: white;
}

#header {
	width: 100%;
	margin: 0;
	left: 0;
	height: 600px;
	overflow: hidden;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	margin-top: 70px;
}

#header.imageOne {
	background-image: url('img/britcollage.jpg');
}

#header.imageTwo {
	background-image: url('img/field.jpg');
}

#header.imageThree {
	background-image: url('img/hills.jpg');
}


h1 {
	font-family: 'Roboto';
	color: white;
	font-size: 95px;
	text-align: center;
	font-family: sans-serif;
	margin-top: 2em;
}

h3 {
	font-family: 'Roboto';
	font-weight: 300;
	color: white;
	font-size: 65px;
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 5em;
	padding: 10px;
}

h2 {
	font-family: 'Roboto';
	color: black;
	font-size: 30px;
	text-align: center;
	padding: 5px;
}

#title {
	font-family: 'Roboto';
	color: #aef0d3;
	font-size: 80px;
	text-align: left;
	padding-left: 1em;
}

#titledescription {
	font-family: 'Roboto';
	font-weight: 300;
	color: #ec6766;
	font-size: 20px;
	text-align: left;
	position: absolute;
	z-index: 40;
	padding-left: 24em;
	margin-top: -6em;
}

#portfolio {
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 3em;

}

/*Portfolio Styling Test*/

ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -5%;
	width: 100%;
	text-align: center;

}

ul.rig li {
	position: relative;
	margin-top: 5em;
	display: inline-block;
	padding: 10px;
	margin: 0 0 5% 2.5%;
	background-color: white;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	box-shadow: 0 0 5px #ddd;
	-webkit-box-sizing: border-box;
	text-align: left;
}

ul.rig li img {
	height: 300px;
	width: 300px;
	margin: 0 0 10px;
	object-fit: cover;
}


ul.rig li h3 {
	margin: 0 0 5px;
	font-size: 25px;
	padding: 0;
	color: #ed4e6e;
}

ul.rig.columns-3 li {
	width: 30.83%;
}

ul.rig.columns-4 li {
	width: 22.5%;
}

.footer {
	display: block;
	left: 0;
	width: 100%;
	height: 80px;
	bottom: 0%;
	background-color: #26b89a;
	float: left;
	font-family: 'Roboto';
	color: #f1ddbb;
	font-size: 26px;
	z-index: 99;
}

/* media queries woot */

@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

